@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
}

a {
	color : #333333;
	text-decoration: none;
}

#wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
	filter: contrast(1.2);
	overflow: hidden;
}

.modal {
	width: 100%;
	height: 100%;
	background-color: #ededed;
	z-index: 9999;
}
/* 텍스트 박스 */
.text_box {
	position: absolute;
	top : 20%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text_box .title {
	color: #333333;
	font-size: 5vh;
	font-weight: bold;
}
.text_box input {
	width: 300px;
	height: 50px;
	margin-top: 10px;

}

.main {
	display: none;
}

/* 사람 */
.man_load {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 20%;
	min-height: 100%;
	transform: translate(-50%, -50%);
}

.man {
	position: absolute;
	left: calc(50% - 80px);
	top: 20%;
	text-align: center;
	animation: man_ani 4s infinite linear;
}

.man_1 img:hover {
	transform: scale(1.2);
	transition: .5s;
}

.man_2 {
	left: 100%;
	top: 28%;
	animation-delay: -1s;
}

.man_3 {
	left: -50%;
	top: 15%;
	animation-delay: -3s;
}


.man_name {
	display: block;
	font-size: 20px;
	color: aquamarine;
	padding-bottom: 4px;
}

.man_img > img {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 20%;
	/* background: aquamarine; */
	/* border: 5px solid snow; */
}

.man_1 > .man_img > img {
	position: relative;
	display: inline-block;
	width: 160px;
	height: 160px;
	border-radius: 20%;
	/* background: aquamarine; */
	/* border: 5px solid snow; */
}

.blurEffect {
	filter: blur(10px);
	-webkit-filter: blur(10px);
  }

.man_days {
	display: block;
	color: navajowhite;
	font-weight: bold;
	padding-top: 5px;
}

@keyframes man_ani {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(-10deg);}
	50% {transform: rotate(0deg);}
	75% {transform: rotate(10deg);}
	100% {transform: rotate(0deg);}
}


/*
.man > div::before {
	content: "inshin";
	font-size: 20px;
	color: aquamarine
	position: absolute;
	top : -25px;
	left: -10px;
}

.man > div::after {
	content: "81days";
	position: absolute;
	top : 30px;
	left: -14px;
	color: navajowhite;
	font-weight: bold;
}
*/

/* 블랙홀 */
.blackhole {
	width: 50%;
	height: 45%;
	min-width: 500px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 50% 47%;
}

#Layer_1 {
	min-width: 500px;
	min-height: 500px;
	animation: bkhole_ani 60s infinite linear
}

@keyframes bkhole_ani {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}


/* 배경 */
canvas {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000200, #000104);
	z-index: -1;
  }

.bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #333333;
	/* background: radial-gradient(circle, rgb(3, 0, 48) 0%, rgba(52, 4, 74, 0.208) 31%, rgba(29, 18, 222, 0.767) 100%); */
}
