@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
}

a {
	color : #333333;
	text-decoration: none;
}

#wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
	filter: contrast(1.2);
	overflow: hidden;
}

.modal {
	width: 100%;
	height: 100%;
	background-color: #ededed;
	z-index: 9999;
}
/* 텍스트 박스 */
.text_box {
	position: absolute;
	top : 20%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text_box .title {
	color: #333333;
	font-size: 5vh;
	font-weight: bold;
	font-family: 'Bungee Outline', cursive;
}
.text_box input {
	width: 300px;
	height: 50px;
	margin-top: 10px;
}

.main {
	display: none;
}

#day_signal {
	position: absolute;
	display: inline;
	top: 55%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	font-size: 6vw;
    font-weight: bold;
    text-align: center;
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
}
.day_signal_num {
	display: inline;
    word-break : nowrap;
	color: #FFFFFF;
	font-size: 8vw;
    white-space: nowrap;
	text-shadow: -1px 0 4px rgb(240, 69, 17), 0 1px 4px rgb(240, 69, 17), 1px 0 4px  rgb(240, 69, 17), 0 -1px 4px rgb(240, 69, 17);
}

/* 사람 */
.man_load {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 40%;
	min-height: 100%;
	transform: translate(-50%, -50%);
	z-index: 99;
}

.man {
	cursor: pointer;
	position: absolute;
	left: calc(50% - 80px);
	top: 20%;
	text-align: center;
	animation: man_ani 3s infinite ease;
}

.man_1 {
	z-index: 999;
}

.man_2 {
	left: 100%;
	top: 28%;
	animation-delay: -1s;
}

.man_3 {
	left: -10%;
	top: 15%;
	animation-delay: -2s;
}

.man_4 {
	left: -10%;
	top: 80%;
}

.man_5 {
	left: 100%;
	top: 70%;
}


.man_talk {
	display: none;
	position: absolute;
	right: -100px;
	top: 0;
	width: 100px;
}

.man_talk > img {
	width: 100%;
}

.man_name {
	display: block;
	font-size: 20px;
	color: aquamarine;
	padding-bottom: 4px;
}

.man_img {
	position: relative;
	width: 60px;
	display: inline-block;
	text-align: center;
}

.man_img > img {
	position: relative;
	max-width: 100%;
	height: auto;
	border-radius: 20%;
}

.man_1 > .man_img  {
	width: 120px;
}
.man_4 > .man_img  {
	width: 20px;
}
.man_5 > .man_img  {
	width: 30px;
}

.blurEffect {
	filter: blur(20px);
	-webkit-filter: blur(20px);
}

.man_days {
	display: block;
	font-size: 24px;
	color: navajowhite;
	font-weight: bold;
	padding-top: 5px;
}

.man_1 > .man_days {
	color: gold;
}

.man_2 > .man_days,
.man_3 > .man_days {
	font-size: 16px;
}

.man_4 > .man_days,
.man_5 > .man_days {
	font-size: 12px;
	color: red;
}

@keyframes man_ani {
	0% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	50% {transform: translateY(0);}
	75% {transform: translateY(10px);}
	100% {transform: translateY(0);}
}

/* 블랙홀 */
.blackhole {
	width: 50%;
	height: 45%;
	max-width: 600px;
	min-width: 350px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 50% 47%;
}

.blackhole #Layer_1 {
	min-width: 350px;
	min-height: 500px;
	animation: bkhole_ani 60s infinite linear
}

@keyframes bkhole_ani {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}


/* 배경 */
canvas {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000200, #000104);
	z-index: -1;
  }

.bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #333333;
	/* background: radial-gradient(circle, rgb(3, 0, 48) 0%, rgba(52, 4, 74, 0.208) 31%, rgba(29, 18, 222, 0.767) 100%); */
}
